body{
    text-align: center;
}

h1,h2{
    font-family: serif;
    text-align-last: left;
}

.title{
    font-weight: 500;
    font-size: 35px;
}

.sakusya{
    padding: 0 0 0 1em;
    font-size: 25px;
    font-weight: 400;
}

.cls-text{
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.site{
    display: inline-block;
}