body{
    text-align: center;
}

h1,h2{
    font-family: serif;
}

.title{
    font-weight: 500;
    font-size: 35px;
}

.sakusya{
    padding: 0 0 0 1em;
    font-size: 25px;
    font-weight: 400;
}

.cls-text{
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.site{
    display: inline-block;
}

.cls-link{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    display: block;
    font-weight: 500;
    color: blue;
}

.cls-link:hover{
    color: red;
}

.align{
    text-align: left;
}

.cls-spn-01{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.copylight{
    font-size: 25px;
    font-family: serif;
}