body{
    text-align: center;
}

:root{
    --pd: 0 30px;
}

h1,h2{
    font-family: serif;
}

.title{
    padding: var(--pd);
    font-weight: 500;
    font-size: 40px;
    border-bottom: solid 1px lightgray;
}

.sakusya{
    padding-left: 1em;
    font-size: 25px;
    font-weight: 400;
}

.cls-text{
    padding: var(--pd);
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.site{
    display: inline-block;
}

.cls-link{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    display: inline-block;
    font-weight: 500;
    color: blue;
}

.cls-link:hover{
    color: red;
}

.align{
    text-align: left;
}

.cls-spn-01{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.cls-spn-02{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    display: inline-block;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.copylight{
    border-top: solid 1px lightgray;
    padding-top: 0.5em;
    font-size: 25px;
    font-weight: 600;
    font-family: serif;
    font-family: 'Poppins', sans-serif;
}

.うんちぶり{
    padding-bottom: 1em;
    border-bottom: solid 1px lightgray;
}

.cls-div{
    display: block;
}